{% extends "encyclopedia/layout.html" %}

{% block title %}
    Edit {{title}}
{% endblock %}

{% block body %}
<h3>Welcome To Editing Page:</h3>
<h3 style="color: blue;">{{message}}</h3>
<form action="{% url 'encyclopedia:edit_post'  %}" method="POST">
    {% csrf_token %}
    
    <h3>{{form.title.label}}</h3>
    {{form.title}}
    <br><br>
    <h3>{{form.content.label}}</h3>
    {{form.content}}
    <br><br>

    <input type="submit" value="change Content" class="btn btn-info">
    
</form>

    

{% endblock %}