{% load static %}

<!DOCTYPE html>

<html lang="en">
    <head>
        <title>{% block title %}{% endblock %}</title>
        <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
        <link href="{% static 'encyclopedia/styles.css' %}" rel="stylesheet">
    </head>
    <body>
        <div class="navbar navbar-expand-lg" style="background-color:aquamarine;">
            <img src="{% static 'encyclopedia/images/Wikipedia-logo.png' %}" style="width:70px; margin-left:0px">
            <div class="container-fluid" style="padding: 30px;">
                <h2>Wiki</h2> 
                <div>
                    <a href="{% url 'encyclopedia:index' %}" style="margin-left:50px">Home</a>
                </div>
                <div>
                    <a href="{% url 'encyclopedia:create' %}" style="margin-left:50px;">Create New Page</a>
                </div>
                <div>
                    <a href="{% url 'encyclopedia:random_entry' %}" style="margin-left:50px">Random Page</a>
                </div>
                <form action="{% url 'encyclopedia:search'  %}" method="POST">
                    {% csrf_token %}
                    <input class="search" type="text" name="q" placeholder="Search Encyclopedia" style="margin-right:10px">
                    <button class="btn btn-outline-success" type="submit">Search</button>
                </form>
                {% block nav %}
                {% endblock %}
            </div>
           
        </div>
        <div class="main row-lg-10 row-md-9">
            {% block body %}
            {% endblock %}
        </div>
    </body>
</html>